In [13]:
from sqlalchemy import create_engine
import pandas as pd
import unicodedata

# # Imports the methods needed to abstract classes into tables
# from sqlalchemy.ext.declarative import declarative_base

# # Allow us to declare column types
# from sqlalchemy import Column, Integer, String, Float

In [14]:

rds_connection_string = "postgres:PostgreSQL@localhost:5432/trfmk_scrape_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [15]:
engine.table_names()

['leagues', 'teams', 'players']

In [34]:
pd.read_sql_query('select * from teams', con=engine).head()

,team_id,league_id,club,squad,foreigners,avg_market_value_m,total_mv_m,logo_img,link_page
0,1,1,Clube de Regatas do Flamengo,33,3,3.99,131.52,https://tmssl.akamaized.net/images/wappen/head...,https://www.transfermarkt.com/flamengo-rio-de-...
1,2,1,Sociedade Esportiva Palmeiras,31,3,3.52,109.03,https://tmssl.akamaized.net/images/wappen/head...,https://www.transfermarkt.com/se-palmeiras-sao...
2,3,1,Grêmio Foot-Ball Porto Alegrense,37,2,2.87,106.25,https://tmssl.akamaized.net/images/wappen/head...,https://www.transfermarkt.com/gremio-foot-ball...
3,4,1,São Paulo Futebol Clube,37,5,2.21,81.95,https://tmssl.akamaized.net/images/wappen/head...,https://www.transfermarkt.com/fc-sao-paulo/kad...
4,5,1,Sport Club Corinthians Paulista,33,5,2.44,80.51,https://tmssl.akamaized.net/images/wappen/head...,https://www.transfermarkt.com/corinthians-sao-...

In [17]:
pd.read_sql_query('select * from players where Height > 1.9', con=engine).head()

,players_id,team_id,name,position,age,nat,height,foot,dt_joined,prev_team,contract_expires,market_value,player_page
0,2,1,Hugo Souza,Goalkeeper,21,Brazil,1.96,both,2019-08-31,Clube de Regatas do Flamengo U20,2023-09-30,0.49,https://www.transfermarkt.com/hugo-souza/profi...
1,3,1,César,Goalkeeper,28,Brazil,1.94,right,2013-01-01,Clube de Regatas do Flamengo U20,2022-04-30,0.44,https://www.transfermarkt.com/cesar/profil/spi...
2,7,1,Gustavo Henrique,Centre-Back,27,Brazil,1.96,right,2020-01-13,Santos FC,2023-12-31,2.62,https://www.transfermarkt.com/gustavo-henrique...
3,36,2,Vinicius Silvestre,Goalkeeper,26,Brazil,1.95,right,2013-07-01,SE Palmeiras B,2021-12-31,0.11,https://www.transfermarkt.com/vinicius-silvest...
4,66,3,Júlio César,Goalkeeper,33,Brazil,1.91,right,2019-01-03,Fluminense Football Club,2020-12-31,0.87,https://www.transfermarkt.com/julio-cesar/prof...

In [54]:
team = 'Santos FC '

pd.read_sql_query(\
f"select players.name, players.market_value, teams.club from teams, players where (teams.team_id = players.team_id and teams.club = '{team}')"\
                  , con=engine)

                name  market_value        club
0            Éverson          1.31  Santos FC
1           Vladimir          0.71  Santos FC
2               John          0.05  Santos FC
3         João Paulo          0.05  Santos FC
4    Lucas Veríssimo          3.82  Santos FC
5         Luan Peres          0.60  Santos FC
6        Luiz Felipe          0.44  Santos FC
7    Wagner Leonardo          0.05  Santos FC
8     Felipe Jonatan          1.42  Santos FC
9            Romário          0.71  Santos FC
10            Madson          0.98  Santos FC
11              Pará          0.71  Santos FC
12     Daniel Guedes          0.60  Santos FC
13              Cadu          0.05  Santos FC
14      Diego Pituca          1.96  Santos FC
15            Alison          1.64  Santos FC
16            Jobson          0.44  Santos FC
17         Jean Mota          1.74  Santos FC
18            Sandry          0.98  Santos FC
19            Ivonei          0.05  Santos FC
20    Carlos Sánchez          2.18  Santos FC
21           Evandro          1.09  Santos FC
22        Bryan Ruíz          0.87  Santos FC
23           Tailson          0.74  Santos FC
24     Alexandre Tam          0.05  Santos FC
25  Yeferson Soteldo          8.72  Santos FC
26      Arthur Gomes          1.42  Santos FC
27        Allanzinho          0.05  Santos FC
28     Eduardo Sasha          4.91  Santos FC
29           Marinho          1.42  Santos FC
30      Lucas Venuto          0.52  Santos FC
31        Kaio Jorge          7.85  Santos FC
32      Yuri Alberto          2.51  Santos FC
33            Raniel          2.18  Santos FC
34    Fernando Uribe          1.74  Santos FC

In [ ]:
# # Create Leagues and Teams Classes
# # ----------------------------------

# # Sets an object to utilize the default declarative base in SQL Alchemy
# Base = declarative_base()


# # Creates Classes which will serve as the anchor points for our Tables
# class Leagues(Base):
#     __tablename__ = 'dog'
#     id = Column(Integer, primary_key=True)
#     name = Column(String(255))
#     color = Column(String(255))
#     age = Column(Integer)


# class Cat(Base):
#     __tablename__ = 'cat'
#     id = Column(Integer, primary_key=True)
#     name = Column(String(255))
#     color = Column(String(255))
#     age = Column(Integer)

In [ ]:
# Leagues
# -
# league_ID Interger PK
# country  String(255)
# tier    Interger
# league_name String(255)
# league_link


# Teams
# -
# team_ID Integer PK
# league_ID Integer FK >- Leagues.league_ID
# club String(255)
# squad Integer
# foreigners Integer
# avg_market_value_m Float
# total_MV_m Float
# Logo_img String(255)
# link_page String(255)

# Players
# -
# players_ID            Integer PK
# team_ID               Integer FK >- Teams.team_ID
# name                 String(255)
# position             String(255)
# Age                   Integer
# Nat                  String(255)
# Height              Float
# foot                 String(255)
# dt_joined            String(255)
# prev_team            String(255)
# contract_expires     String(255)
# market_value        Float
# player_page          String(255)

# Player_status
# -
# players_ID  Integer FK >- Players.players_ID
# league_ID   Interger FK >- Leagues.league_ID
# appearances Interger 
# Goals   Interger 
# assists   Interger
# clean_sheats   Interger
# goals_conceded   Interger
# minutes_played  Interger

In [ ]:
import sqlalchemy
import pandas as pd
from os.path  import basename
from glob import glob

TABLES = {}
TABLES[]

# MySQL database connection
engine_stmt = 'mysql+mysqldb://%s:%s@%s:3306/%s' % (username, password,
                                                    server,database)
engine = sqlalchemy.create_engine(engine_stmt)

In [ ]:
# get your data into pandas
Leagues_file = glob('data/*.csv', recursive=True)
for filename in files:
    print(filename) 
    df = pd.read_csv(filename)
            for index, row in df_league.iterrows():
            team_id = row["team_ID"]
            team = row["link_page"]
            team_name = team.split('/')[-8]
            # Creates Classes which will serve as the anchor points for our Tables
            class Leagues(Base):
                __tablename__ = filename.split("_")[2]
                team_ID=Column(Integer)
                league_ID=Column(Integer)
                club=Column(String(255))
                squad=Column(Integer)
                foreigners=Column(Integer)
                avg_market_value_m=Column(Float)
                total_MV_m=Column(Float)
                Logo_img=Column(String(255))
                link_page=Column(String(255))

In [ ]:
# adjust your dataframe as you want it to look in the database
# df = df.rename(columns={0: 'yearquarter', 1: 'sms_volumes')
# using your existing function to assign start/end row by row
for index, row in df.iterrows():
    dt_start, dt_end = getdatesfromquarteryear(row['yearquarter'])
    df.loc[index, 'sms_start_date'] = dt_start
    df.loc[index, 'sms_end_date'] = dt_end

# write the entire dataframe to database
df.to_sql(name='sms_volumes', con=engine,
          if_exists='append', index=False, chunksize=1000)
print('All data inserted!')